*{
	box-sizing: border-box;
}

a{
	text-decoration: none;
	color: rgb(0, 0, 0);
}

body{
	display: flex;
		flex-direction: column;
	align-items: center;
		margin: 0;
	background-color: #c4bba1;
}

header {
	width: 1300px;
		height: 75px;
	display: flex;
		flex-direction: row;
	margin-top: 50px;
		background-color: white;
	border-bottom: 1px solid black;
		transition: 1s;
}

.ico{
	width: 225px;
		display: flex;
	flex-direction: row;
	justify-content: center;
	align-content: center;
	align-items: center;
}

.name{
	width: 30px;
	height: 20px;
}

.nav-item{
	margin-left: 160px;
	width: 500px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

nav{
	width: 1000px;
	transition: 1s;
	font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.nav-menu{
	height: 75px;
		width: 100px;
	display: flex;
		justify-content: center;
	align-items: center;
		transition: 1s;
}

.nav-menu:hover{
	color: white;
		background-color: gray;
	transition: 1s;
}

.search{
	width: 75px;
		display: flex;
	justify-content: center;
		background-color: #793723;
	align-items: center;
	margin-right: 0px;
	transition: 1s;
}

.search:hover{
	background-color: lightgray;
	transition: 1s;
}

.content1{
		width: 1300px;
	height: 700px;
		
	background-image:url(https://i.timeout.ru/pix/526905.jpeg);
		background-size: cover;
	transition: 1s;

}

.content-content{
		width: 500px;
	height: 400px;
		margin-left: 80px;
	margin-top: 130px;
		display: flex;
	flex-direction: column;
		justify-content: start;
	transition: 1s;
}

.mininav{
		width: 90%;
	height: 40px;
		display: flex;
	flex-direction: row;
		justify-content: space-around;
	align-items: center;
		background-color: #b9711e;
}

.mininav-p{
	color:#f7f5f1;
	font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.later{
	display:flex;
		justify-content: center;
	align-items: center;
		width: 20px;
	height: 20px;
		color: rgb(255, 255, 255);
	font-size: 25px;
		transition: 1s;
}

.later:hover{
	color:white;
		transition: 1s;
}

.slogan{
	font-size: 70px;
		margin-top: 10px;
		margin-bottom: 10px;
	color: #86664c;
	font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	line-height: 60px;
}

.afterSlogan{
	margin-top: 1px;
	color: #f1f1f1;
	font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.content2{
	display: flex;
		flex-direction: column;
	width: 1300px;
	margin-top: 30px;
		align-items: center;
	justify-content: space-around;
		background-color: white;
	margin-bottom: 50px;
	 transition: 1s;
}

.latest{
	width: 80%;
	font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.latest-content{
	width: 80%;
	display: flex;
		flex-direction: row;
	justify-content: space-between;
}

.card{
	width: 300px;
	transition: 1s;
	margin-bottom: 25px;
}

.card:hover{
	background-color: lightgrey;
	transition: 1s;
}

.img{
	width: 300px;
	height: 200px;
}

.type{
}

.coffe{
	color: rgb(202, 152, 152);
}

b{
	color: rgb(165, 123, 123);
	margin-right: 10px;
}

.opisanie{
	color: rgb(121, 107, 107);
}
